<div class="bodyApp">
	<div class="col-md-12">
		<p class="txt-logo">lunchLine</p>
	</div>
	<ion-content overflow-scroll="true">
	<div class="col-md-12">
		<div class="col-md-12 item text-center user-info">
			<img style="width: 150px" src=img/profile.png>
			<p>Nombre : {{formData.name}}</p>
			<p>Apellidos: {{formData.surname}}</p>
			<p>City: {{formData.city}}</p>
		</div>
	</div>
	<div class="col-md-12">
	<button ng-click="logout()" class="cold-md-12 button button-block button-positive">Logout</button>
	</div>
</ion-content>
</div>